<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zcc.wallet.mapper.HomeMapper">
 
 <!-- 添加地址 -->
 <insert id="addAddress" useGeneratedKeys="true" keyProperty="id">
 	INSERT INTO wallet_address_zcc 
	(user_id,type,name,telephone,city,address,create_time)
	VALUES (#{userId},#{type},#{name},#{telephone},#{city},#{address},now())
 </insert> 
 <!-- 删除地址 -->
 <delete id="deleteAddress">
 	delete from wallet_address_zcc 
 	where id=#{id}
 </delete> 
 <!-- 更新地址 -->
 <update id="updateAddress">
		update wallet_address_zcc
			<set>
		 		<if test="name != null">
		 			name=#{name},
		 		</if>
		 		<if test="telephone != null">
		 			telephone=#{telephone},
		 		</if>
		 		<if test="city != null">
		 			city=#{city},
		 		</if>
		 		<if test="address != null">
		 			address=#{address},
		 		</if>
		 		update_time=now()
		 	</set>
  		WHERE id =#{id}
 </update>
 <!-- 设置为默认地址 -->
 <update id="updateAddressByMode">
		update wallet_address_zcc
			set type=1
  		WHERE user_id =#{userId};
  		update wallet_address_zcc
			set type=0
  		WHERE user_id =#{userId} and id=#{id};
 </update>
 <!-- 获取地址列表 -->
 <select id="getAddress" resultType="com.zcc.wallet.vo.Adress">
 	SELECT 
 		id,user_id AS userId,TYPE,NAME,telephone,city,address,create_time AS createTime,update_time AS updateTime
 	FROM wallet_address_zcc 
 	where user_id=#{userId}
 </select>
 <!-- 获取POS机器列表 -->
 <select id="getShopList" resultType="com.zcc.wallet.vo.Shop">
 	SELECT id,app,TYPE,title,active_amount AS activeAmount,active_back AS activeBack,comp_back AS compBack,
		comp_require AS compRequire,rate,pay_company AS payCompany,image,content,
		update_time AS updateTime,create_time AS createTime
 	FROM wallet_shop_zcc
 	<where>
 		<if test="type!=null">
 			and type=#{type}
 		</if>
 		<if test="id != null">
 			and id=#{id}
 		</if>
 	</where>
 </select>
 <!-- 创建订单 -->
 <insert id="addShopOrder" useGeneratedKeys="true" keyProperty="id">
 	INSERT INTO wallet_shop_order_zcc 
	(order_num,user_id,shop_id,shop_name,shop_image,unit_price,COUNT,total_price,state,receive_man,link_tel,receive_address,create_time)
	VALUES (#{orderNum},#{userId},#{shopId},#{shopName},#{shopImage},#{unitPrice},#{count},#{totalPrice},#{state},#{receiveMan},#{linkTel},#{receiveAddress},now())
 </insert> 
 <!-- 获取订单列表 -->
 <select id="getShopOrderList" resultType="com.zcc.wallet.vo.ShopOrder">
 	SELECT id,order_num AS orderNum,user_id AS userId,shop_id as shopId,unit_price AS unitPrice,COUNT,total_price AS totalPrice,state,pay_way AS payWay,
 		pay_time AS payTime,express_company AS expressCompany,express_number AS expressNumber,
		receive_man AS receiveMan,link_tel AS linkTel,receive_address AS receiveAddress,create_time AS createTime
	FROM wallet_shop_order_zcc
 	<where>
 		<if test="orderNum!=null">
 			and order_num=#{orderNum}
 		</if>
 		<if test="userId!=null">
 			and user_id=#{userId}
 		</if>
 		<if test="state!=null">
 			and state=#{state}
 		</if>
 		<if test="id != null">
 			and id=#{id}
 		</if>
 	</where>
 </select>
 <!-- 更新订单 -->
 <update id="updateShopOrder">
		update wallet_shop_order_zcc
			<set>
		 		<if test="state != null">
		 			state=#{state},
		 		</if>
		 		<if test="payWay != null">
		 			pay_way=#{payWay},
		 		</if>
		 		<if test="payTime != null">
		 			pay_time=#{payTime},
		 		</if>
		 	</set>
  		<where>
	 		<if test="orderNum!=null">
	 			and order_num=#{orderNum}
	 		</if>
	 		<if test="id != null">
	 			and id=#{id}
	 		</if>
	 	</where>
 </update>
 <!-- 获取POS列表 -->
 <select id="getPosList" resultType="com.zcc.wallet.vo.Pos">
 	SELECT id,user_id AS userId,active_user_id AS activeUserId,ACTION,TYPE,STATUS,logo,brand,sn,back_amt AS backAmt,
 			back_time AS backTime,active_time AS activeTime,update_time AS updateTime,create_time AS createTime
 	FROM wallet_pos_zcc 
 	<where>
 		<if test="userId!=null">
 			and user_id=#{userId}
 		</if>
 		<if test="activeUserId!=null">
 			and active_user_id=#{activeUserId}
 		</if>
 		<if test="brand != null">
 			and brand=#{brand}
 		</if>
 		<if test="type != null">
 			and type=#{type}
 		</if>
 		<if test="sn != null">
 			and sn=#{sn}
 		</if>
 		<if test="action != null">
 			and action=#{action}
 		</if>
 	</where>
 </select>
 <!-- 更新POS -->
 <update id="updatePos">
		update wallet_pos_zcc
			<set>
		 		<if test="activeUserId != null">
		 			active_user_id=#{activeUserId},
		 		</if>
		 		<if test="action != null">
		 			<!-- 同意召回 -->
		 			<if test="action == 3">
		 				active_user_id=user_id,
		 			</if>
		 			action = #{action},
		 		</if>
		 		update_time=now()
		 	</set>
  		<where>
	 		<if test="sn !=null">
	 			and sn=#{sn}
	 		</if>
	 		<if test="id != null">
	 			and id=#{id}
	 		</if>
	 	</where>
 </update>
 
<!-- 获取 交易记录 列表   AND sn IN (SELECT sn FROM wallet_pos_zcc WHERE active_user_id = #{remark} OR active_user_id = #{remark2}) -->
 <select id="getBusinessDataList" resultType="com.zcc.wallet.vo.BusinessData">
 	<![CDATA[
	 	SELECT id,STATUS,remark,remark2,remark3,amt,sn,create_time AS createTime,user_id AS userId,business_time AS businessTime 
	 	FROM wallet_business_zcc
		WHERE business_time >=#{startTime} AND business_time <=#{endTime}
		AND user_id=#{userId} 
 	]]>
 </select>
 <!-- 获取 收益 列表 -->
  <select id="getImcomeList" resultType="com.zcc.wallet.vo.Account">
	 	 SELECT id,pos_type AS posType,user_id AS userId,user_name AS userName,user_telephone AS userTelephone,user_leave AS userLeave,amount,create_time AS createTime 
		 FROM wallet_account_zcc 
		 <where>
	 		<if test="userId !=null">
	 			and user_id = #{userId}
	 		</if>
	 		<if test="posType !=null">
	 			and pos_type = #{posType}
	 		</if>
	 		<if test="app !=null">
	 			and app = #{app}
	 		</if>
	 	</where>
		 ORDER BY createTime DESC
 </select>
 <!-- 创建POS日志 -->
 <insert id="addPosLog" useGeneratedKeys="true" keyProperty="id">
 	update wallet_poslog_zcc set status='1',end_time=now() where sn=#{sn} and status='0';
 	
 	INSERT INTO wallet_poslog_zcc 
	(sn,user_id,type,status,start_time,create_time)
	VALUES (#{sn},#{userId},
	(SELECT TYPE FROM wallet_pos_zcc WHERE sn=#{sn}),
	#{status},now(),now());
 </insert> 

 
</mapper>